<h1>Schedules#index</h1>

<%= month_calendar(events: @cleanings) do |date, cleanings| %>
  <%= date %>
  <% cleanings.each do |cleaning| %>
    <div>
      <%= link_to cleaning.address.address, schedule_path(cleaning) %>
    </div>
  <% end %>
<% end %>
