<h1>Addresses</h1>
<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.alias %></td>
        <td><%= address.address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>