<p>
  <strong>Alias:</strong>
  <%= @address.alias %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Address book', addresses_path %>
